<launch>
<arg name="file_path"   default="$(find map_changer)/config/test1.yaml"/>
<arg name="wait_time"   default="1.0"/>

<node pkg="map_changer" type="map_changer_node" name="map_changer_node" output="screen">
    <param name="file_path" value="$(arg file_path)"/>
    <param name="wait_time" value="$(arg wait_time)"/>
</node>
</launch>